/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

section {
  display: table;
}

.example-button-row {
  max-width: 600px;
  box-shadow: 5px;
  background-color: rgb(32, 61, 71);
  border-radius: 10px;
  font-size: medium;
  font-weight: 500;
  color: white;
}

/* .example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
} */
