<li [ngClass]="{ editing: isEditing, completed: todo.isCompleted }" class="flex gap-10">
    <div class="view flex p-2 mt-2 justify-between items-center">
        <div class="flex gap-2 justify-center items-center">
            <input class="toggle cursor-pointer" type="checkbox" [checked]="todo.isCompleted" (change)="toggleTodo()" />
            <label (dblclick)="setTodoInEditMode()">{{ todo.task }}</label>
        </div>
        <button class="destroy text-red-700 ml-14 cursor-pointer"
            (click)="openDeleteDialog()"><mat-icon>delete</mat-icon>

        </button>
    </div>
    <ng-container *ngIf="isEditing">
        <input class="edit" #textInput [value]="editingText" (keyup)="changeText($event)"
            (keyup.enter)="changeTodo()" />
    </ng-container>
</li>